@using Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http
@model IQueryable<FamilySys.Models.ViewModels.MemberViewModel.HouseworkShowcaseViewModel>
@{
	ViewData["Title"] = "管理员";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Raw(TempData["Success"])
@Html.Raw(TempData["ErrMsg"])
<div align="center">
	<h2>查看事务</h2>
	<table class="table" style="margin: auto; text-align: center;">
		<tr>
			<th style="text-align: center;">ID</th>
			<th style="text-align: center">标题</th>
			<th style="text-align: center">发布人</th>
			<th style="text-align: center">接受人</th>
			<th style="text-align: center; width: 120px">发布日期</th>
			<th style="text-align: center; width: 120px">修改日期</th>
			<th style="text-align: center; width: 50px">类型</th>
			<th style="text-align: center; width: 50px">分值</th>
			<th style="text-align: center; width: 90px">接受情况</th>
			<th style="text-align: center; width: 90px">完成情况</th>
			<th style="text-align: center;">操作</th>
		</tr>
		@foreach (var housework in Model) {
			if (housework.IsDone) {
				<tr style="background-color: darkseagreen;">
					<td>@housework.ID</td>
					<td style="width: 200px">@housework.Title</td>
					<td>@housework.FromUsername</td>
					<td>@housework.ToUsername</td>
					<td>@housework.Date.GetDateTimeFormats('f')[0].ToString()</td>
					<td>@housework.ModifyDate.GetDateTimeFormats('f')[0].ToString()</td>
					@if (housework.Type == 1) {
						<td>公共</td>
					} else {
						<td>个人</td>
					}
					<td>@housework.Score 分</td>
					<td>已接受</td>
					<td>已完成</td>
					<td>
						<table style="margin: auto">
							<tr>
								@if (housework.IsRated == true) {
									<td>
										@using (Html.BeginForm("ChangeRate", "Admin", HttpMethod.Post)) {
											<input type="hidden" name="ID" value="@housework.ID" />
											<input type="submit" name="SubBtn" value="修改评价" class="btn btn-sm btn-warning" />
										}
									</td>
								}
							</tr>
						</table>
					</td>
				</tr>
			} else if (housework.ToID != null) {
				<tr style="background-color: cornflowerblue;">
					<td>@housework.ID</td>
					<td style="width: 200px">@housework.Title</td>
					<td>@housework.FromUsername</td>
					<td>@housework.ToUsername</td>
					<td>@housework.Date.GetDateTimeFormats('f')[0].ToString()</td>
					<td>@housework.ModifyDate.GetDateTimeFormats('f')[0].ToString()</td>
					@if (housework.Type == 1) {
						<td>公共</td>
					} else {
						<td>个人</td>
					}
					<td>@housework.Score 分</td>
					<td>已接受</td>
					<td>未完成</td>
					<td></td>
				</tr>
			} else {
				<tr>
					<td>@housework.ID</td>
					<td style="width: 200px">@housework.Title</td>
					<td>@housework.FromUsername</td>
					<td>@housework.ToUsername</td>
					<td>@housework.Date.GetDateTimeFormats('f')[0].ToString()</td>
					<td>@housework.ModifyDate.GetDateTimeFormats('f')[0].ToString()</td>
					@if (housework.Type == 1) {
						<td>公共</td>
					} else {
						<td>个人</td>
					}
					<td>@housework.Score 分</td>
					<td>未接受</td>
					<td>未完成</td>
					<td>
						<table style="margin: auto">
							<tr>
								<td>
									@using (Html.BeginForm("ChangeHousework", "Admin", HttpMethod.Post)) {
										<input type="hidden" name="ID" value="@housework.ID" />
										<input type="submit" name="SubBtn" value="修改信息" class="btn btn-sm btn-warning" />
									}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			}
		}
	</table>
</div>

