@using Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http
@model IQueryable<FamilySys.Models.DbModels.Announcement>
@{
	ViewData["Title"] = "家庭成员";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2 align="center">公告</h2>
@Html.Raw(TempData["Success"])
<table class="table" style="text-align: center; margin: auto;">
	<tr>
		<th style="text-align: center">标题</th>
		<th style="text-align: center">字数</th>
		<th style="text-align: center">发布人</th>
		<th style="text-align: center">发布时间</th>
		<th style="text-align: center">最后修改时间</th>
		<th style="text-align: center">查看</th>
	</tr>
	@foreach (var each in Model) {
		<tr>
			<td>@each.Title</td>
			<td>@each.Content.Length</td>
			<td>管理员</td>
			<td>@each.Date.GetDateTimeFormats('f')[0].ToString()</td>
			<td>@each.ModifyDate.GetDateTimeFormats('f')[0].ToString()</td>
			<td>
				@using (Html.BeginForm("ShowAnnoDetails", "Member", HttpMethod.Post)) {
					<input type="hidden" name="ID" value="@each.ID" />
					<input type="submit" name="ShowBtn" value="查看" class="btn btn-sm btn-success" />
				}
			</td>
		</tr>
	}
</table>

