@using Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http
@model IQueryable<FamilySys.Models.ViewModels.MemberViewModel.HouseworkShowcaseViewModel>
@{
	ViewData["Title"] = "家庭成员";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
@Html.Raw(TempData["Success"])
@Html.Raw(TempData["ErrMsg"])
<div align="center">
	<h2>查看事务</h2>
	<table class="table" style="margin: auto; text-align: center;">
		<tr>
			<th style="text-align: center">ID</th>
			<th style="text-align: center">标题</th>
			<th style="text-align: center">发布人</th>
			<th style="text-align: center">发布日期</th>
			<th style="text-align: center">修改日期</th>
			<th style="text-align: center">类型</th>
			<th style="text-align: center">分值</th>
			<th style="text-align: center">接受情况</th>
			<th style="text-align: center">接受人</th>
			<th style="text-align: center">完成情况</th>
			<th style="text-align: center">操作</th>
		</tr>
		@foreach (var housework in Model) {
			if (housework.IsDone) {
				<tr class="success">
					<td>@housework.ID</td>
					<td style="width: 200px">@housework.Title</td>
					<td>@housework.FromUsername</td>
					<td>@housework.Date.GetDateTimeFormats('f')[0].ToString()</td>
					<td>@housework.ModifyDate.GetDateTimeFormats('f')[0].ToString()</td>
					@if (housework.Type == 1) {
						<td>公共</td>
					} else {
						<td>个人</td>
					}
					<td>@housework.Score 分</td>
					<td>已接受</td>
					<td>@housework.ToUsername</td>
					<td>已完成</td>
					<td>
						@using (Html.BeginForm("ShowHouseworkDetails", "Member", HttpMethod.Post)) {
							<input type="hidden" name="ID" value="@housework.ID" />
							<input type="submit" name="ShowBtn" value="查看" class="btn btn-sm btn-success" />
						}
					</td>
				</tr>
			} else if (housework.ToID != null) {
				<tr class="info">
					<td>@housework.ID</td>
					<td style="width: 200px">@housework.Title</td>
					<td>@housework.FromUsername</td>
					<td>@housework.Date.GetDateTimeFormats('f')[0].ToString()</td>
					<td>@housework.ModifyDate.GetDateTimeFormats('f')[0].ToString()</td>
					@if (housework.Type == 1) {
						<td>公共</td>
					} else {
						<td>个人</td>
					}
					<td>@housework.Score 分</td>
					<td>已接受</td>
					<td>@housework.ToUsername</td>
					<td>未完成</td>
					<td>
						<table>
							<tr>
								<td>
									@using (Html.BeginForm("ShowHouseworkDetails", "Member", HttpMethod.Post)) {
										<input type="hidden" name="ID" value="@housework.ID"/>
										<input type="submit" name="ShowBtn" value="查看" class="btn btn-sm btn-success"/>
									}
								</td>
								@if (housework.ToUsername == ViewBag.Username) {
									<td></td>
									<td>
										@using (Html.BeginForm("GiveUpHousework", "Member", HttpMethod.Post)) {
											<input type="hidden" name="ID" value="@housework.ID" />
											<input type="submit" name="ShowBtn" value="放弃" class="btn btn-sm btn-danger" />
										}
									</td>
								}
							</tr>
						</table>
					</td>
				</tr>
			} else {
				<tr>
					<td>@housework.ID</td>
					<td style="width: 200px">@housework.Title</td>
					<td>@housework.FromUsername</td>
					<td>@housework.Date.GetDateTimeFormats('f')[0].ToString()</td>
					<td>@housework.ModifyDate.GetDateTimeFormats('f')[0].ToString()</td>
					@if (housework.Type == 1) {
						<td>公共</td>
					} else {
						<td>个人</td>
					}
					<td>@housework.Score 分</td>
					<td>未接受</td>
					<td>@housework.ToUsername</td>
					<td>未完成</td>
					<td>
						<table>
							<tr>
								<td>
									@using (Html.BeginForm("ShowHouseworkDetails", "Member", HttpMethod.Post)) {
										<input type="hidden" name="ID" value="@housework.ID" />
										<input type="submit" name="ShowBtn" value="查看" class="btn btn-sm btn-success" />
									}
								</td>
								<td></td>
								<td>
									@using (Html.BeginForm("SignHousework", "Member", HttpMethod.Post)) {
										<input type="hidden" name="ID" value="@housework.ID" />
										<input type="submit" name="ShowBtn" value="接受" class="btn btn-sm btn-primary" />
									}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			}

		}
	</table>
</div>
