@using System.Net
@using Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http
@model IQueryable<FamilySys.Models.ViewModels.MemberViewModel.ShowDreamsViewModel>
@{
	ViewData["Title"] = "家庭成员";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
@Html.Raw(TempData["Success"])
@Html.Raw(TempData["ErrMsg"])

<h2 align="center">成员梦想</h2>

<div align="center">
	<h3>我的梦想</h3>
	<table class="table" style="margin: auto; text-align: center; ">
		<tr>
			<th style="text-align: center">标题</th>
			<th style="text-align: center">通过数</th>
			<th style="text-align: center">不通过数</th>
			<th style="text-align: center">通过情况</th>
			<th style="text-align: center">操作</th>
		</tr>
		@if (ViewBag.myDreamAgree == ViewBag.UserCount) {
			<tr style="background-color: darkseagreen;">
				<td>@ViewBag.myDreamTitle</td>
				<td>@ViewBag.myDreamAgree</td>
				<td>@ViewBag.myDreamVeto</td>
				<td>已通过</td>
				<td>无</td>
			</tr>
		} else {
			<tr>
				<td>@ViewBag.myDreamTitle</td>
				<td>@ViewBag.myDreamAgree</td>
				<td>@ViewBag.myDreamVeto</td>
				<td>未通过</td>
				<td>
					@using (Html.BeginForm("MyDream", "Member", HttpMethod.Get)) {
						if (@ViewBag.myDreamAgree == 0) {
							<input type="submit" name="SubBtn" value="新建" class="btn btn-sm btn-primary" />
						} else {
							<input type="submit" name="SubBtn" value="修改" class="btn btn-sm btn-primary" />
						}
					}
				</td>
			</tr>
		}
	</table>
</div>

<div align="center">
	<h3>其他成员梦想</h3>
	<table class="table" style="margin: auto; text-align: center; ">
		<tr>
			<th style="text-align: center">发布人</th>
			<th style="text-align: center">标题</th>
			<th style="text-align: center">通过数</th>
			<th style="text-align: center">不通过数</th>
			<th style="text-align: center">通过情况</th>
			<th style="text-align: center">操作</th>
		</tr>
		@foreach (var dream in Model) {
			if (dream.Veto == 0 && dream.Agree == ViewBag.UserCount) {
				<tr style="background-color: darkseagreen;">
					<td>@dream.Username</td>
					<td>@dream.Title</td>
					<td>@dream.Agree</td>
					<td>@dream.Veto</td>
					<td>已通过</td>
					<td>
						<table style="margin: auto">
							<tr>
								<td>
									@using (Html.BeginForm("VoteDreams", "Member", HttpMethod.Post)) {
										<input type="hidden" name="ID" value="@dream.ID" />
										<input type="hidden" name="action" value="2" />
										<input type="submit" name="SubBtn" value="取消通过" class="btn btn-sm btn-danger" />
									}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			} else if (@dream.IsAgree == "True") {
				<tr>
					<td>@dream.Username</td>
					<td>@dream.Title</td>
					<td>@dream.Agree</td>
					<td>@dream.Veto</td>
					<td>未通过</td>
					<td>
						<table style="margin: auto">
							<tr>
								<td>
									@using (Html.BeginForm("VoteDreams", "Member", HttpMethod.Post)) {
										<input type="hidden" name="ID" value="@dream.ID" />
										<input type="hidden" name="action" value="2" />
										<input type="submit" name="SubBtn" value="取消通过" class="btn btn-sm btn-danger" />
									}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			} else if (@dream.IsVeto == "True") {
				<tr>
					<td>@dream.Username</td>
					<td>@dream.Title</td>
					<td>@dream.Agree</td>
					<td>@dream.Veto</td>
					<td>未通过</td>
					<td>
						<table style="margin: auto">
							<tr>
								<td>
									@using (Html.BeginForm("VoteDreams", "Member", HttpMethod.Post)) {
										<input type="hidden" name="ID" value="@dream.ID" />
										<input type="hidden" name="action" value="4" />
										<input type="submit" name="SubBtn" value="取消否决" class="btn btn-sm btn-danger" />
									}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			} else {
				<tr>
					<td>@dream.Username</td>
					<td>@dream.Title</td>
					<td>@dream.Agree</td>
					<td>@dream.Veto</td>
					<td>未通过</td>
					<td>
						<table style="margin: auto">
							<tr>
								<td>
									@using (Html.BeginForm("VoteDreams", "Member", HttpMethod.Post)) {
										<input type="hidden" name="ID" value="@dream.ID" />
										<input type="hidden" name="action" value="1" />
										<input type="submit" name="SubBtn" value="同意" class="btn btn-sm btn-success" />
									}
								</td>
								<td></td>
								<td>
									@using (Html.BeginForm("VoteDreams", "Member", HttpMethod.Post)) {
										<input type="hidden" name="ID" value="@dream.ID" />
										<input type="hidden" name="action" value="3" />
										<input type="submit" name="SubBtn" value="否决" class="btn btn-sm btn-danger" />
									}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			}
		}
	</table>
</div>


